<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>The DSP App</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleLocalizations</key>
    <array>
      <string>en</string>
    </array>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.1</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>dspapp</string>
          <string>com.deltasigmapi.app</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>3</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCalendarsUsageDescription</key>
    <string>The DSP App can add approved fraternity events to your calendar so you never miss important activities and meetings.</string>
    <key>NSCameraUsageDescription</key>
    <string>The DSP App needs camera access to allow you to take photos for your profile, event documentation, and submission of required materials.</string>
    <key>NSContactsUsageDescription</key>
    <string>The DSP App accesses your contacts only to help you find other fraternity members and connect with brothers.</string>
    <key>NSDocumentPickerUsageDescription</key>
    <string>The DSP App needs access to your documents to allow you to upload files for scholarship submissions, event materials, and other fraternity-related documentation.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>The DSP App uses Face ID to securely authenticate your identity and keep your fraternity account safe. You can always use your password instead.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>The DSP App uses your location only when you're using the app to help you find nearby fraternity events and provide location-based services for event check-ins.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>The DSP App needs access to your photo library to allow you to upload profile pictures and event photos for fraternity activities and member identification.</string>
    <key>NSPrivacyPolicyURL</key>
    <string>https://sites.google.com/terpmail.umd.edu/dspapp/privacy-policy?authuser=0</string>
    <key>NSRemindersUsageDescription</key>
    <string>The DSP App can create reminders for upcoming fraternity events and deadlines.</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>NSUserTrackingUsageDescription</key>
    <string>This app does not track users for advertising purposes.</string>
    <key>RCTNewArchEnabled</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>